body {
    background-color: rgb(109, 183, 204);
  }
  
  h1 {
    color: grey;
    font-family: Arial;
    font-size: 40px;
  }
  h2 {
    color: white;
    font-family: verdana;
    font-size: 20px;
  }

  em {
    color: blue;
    font-family: verdana;
    font-size: 15px;
  }
  
  p {
    color: white;
    font-family: verdana;
    font-size: 15px;
  }

  p1 {
    color: white;
    font-family: verdana;
    font-size: 15px;
  }

  li{
    color: black;
    font-family: serif;
    font-size: 15px;
  }

  a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p::first-letter {
    font-size: 1.5em;
    float: left;
    margin-right: 2px;
    font-weight: bold;
}

.upside-down {
    transform: scaleY(-1);
    transform-origin: top;
}
.movie-info {
    display: none;
    list-style: none;
    padding: 0;
}

.movie-info li {
    margin-bottom: 10px;
}

.movie-info strong {
    font-weight: bold;
}

.movie-info {
    background-color:  rgb(109, 183, 204);
    border: 1px solid  rgb(109, 183, 204);
    border-radius: 5px;
    padding: 10px;
}

.reversed-list {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 0;
}

.reversed-list li {
    list-style: inside decimal;
}